article.commentBlock {
  @apply bg-head-button-back py-[.75em] px-[1em]
         rounded-[1em] text-service-font mb-[1em];

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 1em;
}
