@import "src/styles/templates";

.servicePageWrapper {
  main.searchLayout {
    @extend %scrollable;

    padding-left: calc(var(--global-padding) / 2);
    padding-right: var(--global-padding);
    // padding-bottom: calc(var(--global-padding) / 2);

    font-size: 1rem; // 1em = 20px

    section.mobileSearch {
      display: none;

      @media (max-width: 968px) {
        display: block;
      }
    }
  }

  aside.searchBlock {
    @extend %scrollable;

    width: min(539px, 28vw);

    padding-left: calc(var(--global-padding) / 2);
    padding-right: calc(var(--global-padding) / 2);
    padding-bottom: calc(var(--global-padding) / 2);

    font-size: 1rem; // 1em = 20px
  }

  @media (max-width: 968px) {
    --proportion: max-content 1fr !important;

    aside.searchBlock {
      display: none;
    }
  }
}
