.wrapper {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid !important;
  grid-template-columns: var(--propotion);

  main.mainPageBlock,
  aside.mainPageBlock {
    @apply pt-[146px];

    @media (max-width: 748px) {
      @apply pt-[106px];
    }
  }
}
