@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-primary text-red-500;
}

:root {
  --global-padding: 2rem;

  font-size: 20px;

  @media (max-width: 748px) {
    --global-padding: 1rem;
  }
}
