@import "src/styles/templates";

.pageWrapper {
  font-size: 1rem; // 1em = 20px

  main.mainPage {
    @apply flex flex-col gap-[1.9em]
           text-main-left-header justify-center;

    overflow-y: hidden;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);

    h1 {
      font-size: 5em;
      line-height: normal;
    }
  }

  aside.mainPage {
    @extend %scrollable;

    @apply flex flex-col gap-[2em];

    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
  }
}
