@import "src/styles/templates";

.pageWrapper {
  font-size: 1rem; // 1em = 20px

  main.mainPage {
    @apply flex flex-col gap-[1.9em]
           text-main-left-header justify-center;

    overflow-y: hidden;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);

    h1 {
      font-size: 5em;
      line-height: normal;

      @media (max-width: 1500px) {
        font-size: 4em;
      }

      @media (max-width: 939px) {
        font-size: 2.5em;
      }
    }
  }

  aside.mainPage {
    @extend %scrollable;

    @apply flex flex-col gap-[2em];

    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
  }

  @media (max-width: 1361px) {
    --proportion: 1.25fr max-content 1fr !important;
  }

  @media (max-width: 768px) {
    --proportion: max-content 1fr !important;

    main.mainPage {
      display: none;
    }

    aside.mainPage {
      align-items: center !important;

      a {
        display: inherit;
        justify-content: center;
      }
    }
  }
}
