@import "src/styles/templates";

button.appButton {
  &.blocked {
    @apply opacity-50 cursor-not-allowed;
  }

  &.header {
    @extend %flexCenter;

    @apply text-head-icon-color-inactive
    bg-head-button-back;

    &:not(&.blocked) {
      @apply hover:text-head-icon-color;
    }

    transition: .15s ease color;
    height: 3.3em;

    &.round {

      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  &.secondary {
    @apply bg-service-foot-button-back text-service-foot-button-font;
  }
}
