@import "src/styles/templates";

button.appButton {
  &.blocked {
    @apply opacity-50 cursor-not-allowed;
  }

  &.header {
    &.round {
      @extend %flexCenter;

      @apply text-head-icon-color-inactive
             hover:text-head-icon-color
             bg-head-button-back;

      transition: .15s ease color;
      height: 3.3em;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  &.secondary {
    @apply bg-service-foot-button-back text-service-foot-button-font;
  }
}
