header.appHeader {
  font-size: 1rem; // 1em = 20px
  padding: var(--global-padding);

  section.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    article.cell {
      @apply flex justify-center items-center;

      &.middle {
        a.logo {
          &.mobile {
            display: none;
          }
        }
      }
    }

    @media (max-width: 1080px) {
      grid-template-columns: 1fr max-content;

      article.cell {
        &.left {
          display: none;
        }

        &.middle {
          justify-content: start;
        }
      }
    }

    @media (max-width: 520px) {
      article.cell {
        &.middle {
          a.logo {
            &.desktop {
              display: none;
            }

            &.mobile {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
