nav.appNav {
  font-size: 1em; // 1em = 20px

  ul {
    @apply flex gap-[1em] font-medium text-head-icon-color-inactive;

    li {
      @apply hover:text-head-icon-color py-[.9em];

      display: inline-block;

      transition: .15s ease color;

      a {
        @apply pb-[.75em] border-head-icon-color
               text-head-icon-color;

        border-bottom-width: .25em;
        border-bottom-style: solid;

        &.notActive {
          color: inherit;
          border-color: transparent;
        }
      }
    }
  }
}
